body{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
td{
    border: 8px solid #5c5b5bb3;
    height:12vmax;
    width: 12vmax;
    text-align: center;
    vertical-align: middle;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    margin-top: 8vmax;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:last-child{
    border-right: 0;
}
table tr td:first-child{
    border-left: 0;
}
.endgame{
display: none;
width:200px;
top: 280px;
background-color: rgb(237, 91, 13);
position: absolute;
left: 50%;
margin-left: -100px;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
opacity: 0.7;
text-align: center;
border-radius: 4px;
color: #fff;
font-size: 2vmax;
}

button{
    margin-top: 4vmax;
    border: none;
    padding: 1vmax 2.5vmax;
    font-size: 1.6vmax;
    border-radius: 1vmax;
    background-color: rgba(31, 176, 176, 0.767);
    border: 2px solid rgba(31, 176, 176, 0.767);
    transition: 0.3s;
}
button:hover{
    border: 1px solid rgba(31, 176, 176, 0.767);
    background-color: transparent;
    color:#FFF;
}

.cell> img{
    width: 10vmax;
    height: 10vmax;
}
